
  
  <div class="row" class="add-candidate-modal" >
      <h3>{{job.Title}}</h3>
        <div class="form-group">


        <label [translate]="'Select candidate from list'"></label>

          <app-candidate-auto-complete (onCandidateSelected)="candidateSelected($event)"></app-candidate-auto-complete>
        </div>
        <label [translate]="'Questions to filter candidate'">
        </label>
        <form [formGroup]="jobQuestions" (ngSubmit)="submitAddCandidate()">
          <div *ngFor="let question of jobsQuestionsArr; let i = index" >

            <label>{{question}}</label>

            <div class="input-group" >
            <input type="text" formControlName="{{i}}"  placeholder="{{'Answer' | translate}}" class="form-control"/>
            </div>

          </div>
          <br>
          <div class="input-group">
          <textarea form rows="5"  formControlName="agentRemarks" placeholder="{{'Agent remarks' | translate}}" class="form-control"></textarea>
            </div>
            <br>
            <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
              <input type="checkbox" formControlName="confirmCandidate" class="custom-control-input" checked id="customcheckbox1">
              <label class="custom-control-label" for="customcheckbox1" [translate]="'I approve I went through the job requirements with the user'" ></label>
            </div>
            <br>

            <div style="display: flex;justify-content: center;">
            <button [disabled]="!jobQuestions.valid || !jobQuestions.get('confirmCandidate').value
             || !candidateForJob" type="submit"  class="btn btn-raised btn-round btn-info">{{'Add candidate' | translate}}</button>
            </div>

        </form>
  </div>
