// Login Page
@import "bootstrap/scss/bootstrap.scss";
#login {
  background-image: url('../../../../assets/img/gallery/light-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
  :after {
    content: "";
    background: url('../../../../assets/img/gallery/light-bg.jpg');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
  .register-first-container{
    display: flex;
    justify-content: space-around;
    padding: 5%;
  }
  // Base styling for the navbar
  #mainNav {
    box-shadow: $box-shadow;
    background-color: $white;
    transition: background-color 0.2s ease;
    .navbar-brand {
      font-family: $font-family-sans-serif;
      font-weight: $font-weight-bold;
      color: $gray-900;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $gray-600;
          font-family: $font-family-sans-serif;
          font-weight: $font-weight-bold;
          font-size: 0.9rem;
          padding: 0.75rem 0;
          &:hover,
          &:active {
            color: $primary;
          }
          &.active {
            color: $primary !important;
          }
        }
      }
    }
    @include media-breakpoint-up(lg) {
      // Base styling for the navbar - screen sizes greater than the large breakpoint
      box-shadow: none;
      background-color: transparent;
      .navbar-brand {
        color: fade-out($white, .3);
        &:hover {
          color: $white;
        }
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: fade-out($white, .3);
            padding: 0 1rem;
            &:hover {
              color: $white;
            }
          }
          &:last-child {
            .nav-link {
              padding-right: 0;
            }
          }
        }
      }
      // Navbar styling applied when the page is scrolled
      &.navbar-scrolled {
        box-shadow: $box-shadow;
        background-color: $white;
        .navbar-brand {
          color: $gray-900;
          &:hover {
            color: $primary;
          }
        }
        .navbar-nav {
          .nav-item {
            .nav-link {
              color: $gray-900;
              &:hover {
                color: $primary;
              }
            }
          }
        }
      }
    }
  }
  .masthead{
    width: 100%;
  }
}

.close-modal-wrapper{
  position: absolute;right: 0;margin-top: -8px;
}

@media (max-width:540px) {
  #login {
    .card-img{
      display: none;
    }
    .masthead{
      padding-top: 25%;
    }
  }
 
}
.logo-wrapper{
  display: flex;
  .left-auto{
    margin-left: auto
  }
}
.help-btn{
  height: 50%;
  margin-top: 1%;
}