.tab-content .tab-pane{
    padding-top: 20px;
}

.alert {
  padding: 8px;
  margin-bottom: 8px;
}
.content-header{
  text-align: center;
  margin-top: 25px;

}

.dropdown-menu.show {
  max-height: 100px !important;
  overflow-y: auto !important;
}
.upload-cv{
  position: absolute;
  margin-top: -20px;
}
.candidate-details{
   margin-top: 10%;margin-bottom: 10%;
   margin-left: 20%;margin-right: 2%;
}
.upload-CV-label{
  font-weight: bold;font-size:1.5rem
}