
.form-section{
    padding: 8px;
}


.candidate-auto-complete{
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
}
.padding-5{
    padding-left: 5%;
    padding-right: 5%;
}
.margin-3{
    margin-left: 3px;
    margin-right: 3px;
}