<!--User Profile Starts-->
<!--Basic User Details Starts-->
<section id="user-profile">
    <div class="row">
        <div class="col-12">
            <div class="card profile-with-cover">
                <div class="card-img-top img-fluid bg-cover height-300" style="background: url('assets/img/photos/14.jpg') 50%;"></div>
                <div class="media profil-cover-details row">
                    <div class="col-5">
                        <div class="align-self-start halfway-fab pl-3 pt-2">
                            <div class="text-left">
                            <h3 class="card-title white">{{currentUser.fullName}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="align-self-center halfway-fab text-center">
                            <a class="profile-image">
                                <img src="assets/img/portrait/avatars/avatar-08.png" class="rounded-circle img-border gradient-summer width-100" alt="Card image">
                            </a>
                        </div>
                    </div>
                    <div class="col-5">                        
                    </div>                    
                </div>
                <div class="profile-cover-buttons">
                    <div class="media-body halfway-fab align-self-end">
                        <div class="text-right d-none d-sm-none d-md-none d-lg-block">
                            <button (click)="openAddJob()" type="button" class="btn btn-primary btn-raised mr-2"><i class="fa fa-plus"></i> Add job</button>
                            <button type="button" class="btn btn-success btn-raised mr-3"><i class="fa fa-dashcube"></i> Message</button>
                        </div>
                        <div class="text-right d-block d-sm-block d-md-block d-lg-none">
                            <button type="button" class="btn btn-primary btn-raised mr-2"><i class="fa fa-plus"></i></button>
                            <button type="button" class="btn btn-success btn-raised mr-3"><i class="fa fa-dashcube"></i></button>
                        </div>
                    </div>
                </div>
                <div class="profile-section">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 ">
                            <ul class="profile-menu no-list-style">
                                <li>
                                    <a [translate]="'Coordinators table'" (click)="showPage('CoordinatorsTable')" [ngClass]="currentPage === 'CoordinatorsTable' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'"></a>
                                </li>
                                <li>
                                    <a [translate]="'General report'" (click)="showPage('GeneralReport')" [ngClass]="currentPage === 'GeneralReport' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-md-2 text-center">
                            <span class="font-medium-2 text-uppercase">{{currentUser.fullName}}</span>
                            <p class="grey font-small-2">Ninja Developer</p>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <ul class="profile-menu no-list-style">
                                <li>
                                    <a [translate]="'Completed Report'" (click)="showPage('CompletedReport')" [ngClass]="currentPage === 'CompletedReport' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'"></a>
                                </li>
                                <li>
                                    <a (click)="showPage('FindJobCandidate')" [ngClass]="currentPage === 'FindJobCandidate' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">FindJobCandidate</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic User Details Ends-->

<!--CoordinatorsTable section starts-->
<section id="CoordinatorsTable" *ngIf="currentPage === 'CoordinatorsTable'">
    <div class="row" style="margin-bottom: 5px">
        <div class="col-12">
            <div class="content-header" [translate]="'Coordinators table'"></div>
        </div>
    </div>
   <coordinators-table></coordinators-table>
</section>
<!--CoordinatorsTable section ends-->

<!--User GeneralReport section starts-->
<section *ngIf="currentPage === 'GeneralReport'">   
    <div class="row">
        <div class="col-12">
            <div class="content-header" [translate]="'General report'"></div>
        </div>
    </div>
   <general-report-table></general-report-table>
</section>
<!--User GeneralReport section ends-->

<!--User's friend section starts-->
<section id="CompletedReport" *ngIf="currentPage === 'CompletedReport'">
    <completed-report-table></completed-report-table>
</section>
<!--User's friend section starts-->

<!--User's uploaded FindJobCandidate section starts-->
<section id="FindJobCandidate" *ngIf="currentPage === 'FindJobCandidate'">
    <find-job-candidate-table></find-job-candidate-table>
</section>
<!--User's uploaded FindJobCandidate section starts-->
<!--User Profile Starts-->